#search {
  padding: 10px;
  width: 400px;
  border: 1px solid black;
}

.sfcmClass {
  padding: 10px;
  width: 400px;
  border: 1px solid black;
}

.classInfo {
  font-weight: bold;
}

.highlighted {
  background-color: yellow;
}
